License Zero Reciprocal Public License {{{version}}}

Copyright: {{{name}}}

Source: {{{source}}}

**This software comes as is, without any warranty at all.
As far as the law allows, those giving this license will
not be liable for any damages related to this software or
this license, for any kind of legal claim.**

You may do everything with this software that would
otherwise infringe copyright in this software, or any patent
anyone giving this license has or obtains that would have
read on this software just after any of their contributions,
on these conditions:

1. You must ensure that everyone who gets a copy of this
   software from you, in source code or any other form, also
   gets the complete text of this license and the copyright
   and source notices above.

2. You may not make any legal claim against anyone accusing
   this software, or any derivative work based on it, of
   infringing any patent that would read on this software
   alone, without modification or extension.

3. If you modify or extend this software, you must release
   source code for your modification or extension.

4. If you combine this software with other software to make
   a larger program, you must release any source code for
   that larger program that has not yet been released.

5. If you run this software to analyze, modify, or generate
   software, you must release source code for that software
   that has not yet been released.

To release source code, you must publicly license it under
either this license or a license approved by the Open Source
Initiative, and promptly publish it, in the preferred form
for making modifications, to a freely accessible
distribution system widely used for similarly licensed
source code.

Any unknowing failure to meet condition 3, 4, or 5 is
excused if you release source code as required within 30
days of becoming aware of the failure.
