License Zero Reciprocal Public License {{{version}}}

Copyright {{{name}}}

Source {{{source}}}

**This software comes as is, without any warranty at all.
As far as the law allows, those granting this license will
not be liable for any damages related to this software or
this license, for any kind of legal claim.**

You may do everything with this software that would
otherwise infringe copyright in this software, or any patent
anyone granting this license has or obtains that would have
read on this software just after any of their contributions,
on these conditions:

1. You must ensure that everyone who gets a copy of this
   software from you, in source code or any other form, also
   gets the complete text of this license, including its
   title, copyright and source notices, and disclaimer.

2. You may not threaten or make any claim against anyone for
   infringing a patent that reads on this software without
   modification, accusing this software or a derivative work
   based on it.

3. If you modify or extend this software, you must release
   source code for your modification or extension.

4. If you include this software in a larger piece of
   software, you must release source code for that larger
   piece of software that has not yet been released.

5. If you run this software to analyze, modify, or generate
   software, you must release source code for that software.

Releasing means licensing to the public under these terms or
terms approved by the Open Source Initiative, plus prompt
publication, in the preferred form for making modifications,
to a freely accessible distribution system widely used for
similarly licensed source code.

Any unknowing failure to meet condition 3, 4, or 5 is
excused if you release source code as open source as
required by the condition within 30 calendar days of
becoming aware of the failure.
