The Parity Public License {{{version}}}

Copyright Notice: {{{name}}}

Source Notice: {{{source}}}

This license lets you use and share this software for free, as
long as you contribute software you make with it. Specifically:

If you follow the rules below, you may do everything with this
software that would otherwise infringe either my copyright in it,
any patent claim I can license that covers this software as of my
latest contribution, or both.

1. If you use your permission under this license to change,
   develop, deploy, monitor, or run this or other software,
   publish all the source code for that software, in
   the preferred form for making changes, through a freely
   accessible distribution system widely used for similar source
   code, and license contributions not already licensed to the
   public on terms as permissive as this license accordingly.

2. Ensure everyone who gets a copy of this software from you,
   in source code or any other form, gets the text of this
   license and the copyright and source notices above.

3. Do not make any legal claim against anyone for infringing
   any patent claim they would infringe by using this software
   alone, accusing this software, with or without changes,
   alone or as part of a larger program.

You are excused for unknowingly breaking rule 1 if you
publish source code as required, or stop doing anything requiring this
license, within 30 days of learning you broke the rule.

**This software comes as is, without any warranty at all. As far
as the law allows, I will not be liable for any damages related
to this software or this license, for any kind of legal claim.**
